<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.23.1" targetFramework="net461" />
  <package id="AWSSDK.KeyManagementService" version="3.3.3" targetFramework="net461" />
  <package id="AWSSDK.KinesisFirehose" version="3.3.1.6" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.11" targetFramework="net461" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.21.1" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.3.4.4" targetFramework="net461" />
</packages>