<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aerospike.Client" version="3.2.3" targetFramework="net461" />
  <package id="lz4net" version="1.0.9.93" targetFramework="net461" />
  <package id="NeoLua" version="0.9.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net461" />
  <package id="Tavisca.Frameworks.Serialization" version="3.0.0.0" targetFramework="net461" />
</packages>